<html>
  <head>
    <title>Account Credential </title>
  </head>
  <body>
    <div>
      <div class="entry">
        {{#if body.credential}}
          <h2>Hello
            {{body.credential.name}}
            Welcome to My Api
          </h2>
          <div><strong>Phone Number: </strong>{{body.credential.phone}}</div>
          <div><strong>Password: </strong>{{body.credential.password}}</div>
        {{/if}}
      </div>
      <p>Cheers, </p>
      <p>If you have any questions, just reply to this email—we're always happy
        to help out.</p>
      <footer>
        <p>{{body.footer.footer}}</p>
      </footer>
    </div>
  </body>
</html>